/* Max-width means if goes smaller than 1140 media queries will be fired */
@media only screen and (max-width: 1140px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
  }
  .rightnav {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    height: 478px;
    transition: all 1s ease-out;
  }
  #search {
    width: 20%;
  }
  .burger {
    display: block;
  }
  .h-nav-resp {
    height: 72px;
  }
  .v-class-resp {
    opacity: 0;
  }
  .box-main {
    flex-direction: column-reverse;
    max-width: 100%;
  }
  .section {
    flex-direction: column-reverse;
    padding: 10px 0px;
  }
}
